.sectionContainer {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    scroll-behavior: smooth;
}

.sectionContainerChrome {
    scroll-snap-type: y proximity;
    overflow-y: scroll;
    height: 100vh;
    scroll-behavior: smooth;
}

section {
    height: 100dvh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    overflow: hidden;
}

// body {
//     height: 100%;
//     background: linear-gradient(180deg, #72DDFF 0%, rgba(223, 146, 90, 0.786458) 33.85%, #BF200A 41.67%, #4B0065 68.23%, #01002E 81.25%, #000000 100%);
// }