.InfosFullPage {
    background: linear-gradient(180deg, rgba(75, 0, 101, .85), rgba(46, 22, 35, .95));
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    min-height: 100vh;
    position: relative;
    overflow: hidden;


    h2 {
        z-index: 1;

        @media (max-width: 702px) {
            text-align: center;
        }

        @media (max-width: 466px) {
            text-align: center;
            font-size: 95px;
            margin-top: 110px;
        }
    }

    h3 {
        font-size: 24px;
    }

    &__PlanContainer {
        display: flex;
        width: 80%;
        justify-content: center;
        align-items: center;
        gap: 24px;


        @media (max-width: 520px) {
            flex-direction: column;
            margin-bottom: 24px;
        }

    }

    &__plan {
        width: 500px;
        -webkit-box-shadow: -14px 14px 5px -1px #000000;
        box-shadow: -14px 14px 5px -1px #000000;

        @media (max-width: 620px) {

            width: 350px;
        }

        @media (max-width: 450px) {

            width: 250px;
        }
    }

    &__creeper {
        position: absolute;
        top: -44px;
        left: 192px;
        opacity: 1;
        height: 350px;
        width: 250px;
        z-index: 0;
    }


    &__infosContainer {
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 150px;

        @media (max-width: 1024px) {

            width: 83.33333333333333%;
        }

        &--waiting {
            min-height: 400px;
            font-size: 30px;
            display: flex;
            justify-content: center;
        }
    }


    .infoslinkContainer {


        .glow-on-hover:after {
            border: transparent;
        }

        &__linkButton {
            padding: 8px 16px;
            display: flex;
            background-color: black;
            color: white;
            align-items: center;
            gap: 16px;
            text-decoration: none;
            border-radius: 50px;
            font-size: 20px;

            span {
                margin: 0;
                color: black;
            }


        }

    }

    footer {
        position: absolute;
    }

    .moduleInfoContainer {
        border-bottom: 1px solid white;
        padding: 18px 0;

        &__title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 24px;


            button {
                border-radius: 50px;
                width: 40px;
                height: 40px;
                font-size: 26px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
                color: rgb(0, 0, 0);
                background: rgb(255, 255, 255);
                border: transparent;
                cursor: pointer;

                span {
                    margin-left: 1px;
                }
            }
        }
    }
}