.Mentions {
    background: linear-gradient(180deg, #4B0065, #01002E);
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    min-height: 100vh;
    position: relative;
    height: 100%;

    &__title {
        text-align: center;
    }

    &__text {
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    p {
        width: 80%;
    }

    h2 {
        font-size: 80px;
        margin-top: 185px;
    }

    footer {
        // position: absolute;
        // bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }

}