.ProgrammationFullPage {
    //background: linear-gradient(180deg, rgba(255, 166, 103, .8), rgba(191, 32, 10, .8));
    background: linear-gradient(300deg, #ffa667, #bf200a, #8a446a);
    background-size: 180% 180%;
    animation: gradient-animation 9s ease infinite;

    @keyframes gradient-animation {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }


    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    min-height: 100vh;
    position: relative;

    &__progArtistesContainer {
        display: flex;
        flex-direction: column;
        color: white;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    &__creeper {
        width: 635px;
        height: 222px;

        top: -70px;
        left: -155px;
        position: absolute;
        transform: rotate(290deg);


        @media (max-width: 600px) {
            width: 500px;
            height: 163px;
            top: -70px;
            left: -120px;
        }
    }

    &__title {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 10;

        h2 {
            position: relative;
            margin-bottom: 0;
            display: flex;
            justify-content: center;

            @media (min-width: 600px) and (max-width:900px) {
                font-size: 80px;
            }

            @media (min-width: 200px) and (max-width:600px) {
                font-size: 60px;
            }

            &:after {
                content: "";
                position: absolute;
                bottom: 0px;
                left: 0;
                right: 0;
                height: 0;
                border-top: 4px solid white;
                width: 270px;

                @media (min-width: 600px) and (max-width:900px) {}

                @media (min-width: 200px) and (max-width:600px) {
                    bottom: 0;
                }
            }
        }

        h3 {

            font-size: 28px;



            @media (min-width: 600px) and (max-width:900px) {
                font-size: 24px;
                width: 80%;
            }

            @media (min-width: 200px) and (max-width:600px) {
                font-size: 20px;
                width: 80%;
            }
        }

    }

    &__buttonContainer {
        width: 80%;
        display: flex;
        justify-content: end;

        &--artisteButton {
            margin-right: -26px;
        }

        .artisteActive {
            padding-right: 30px;
        }

        .sceneActive {
            padding-left: 30px;
        }

        .artisteActive,
        .sceneActive {
            background-color: #ffffff7d;
            z-index: 1;
            cursor: default;
        }

        button {
            cursor: pointer;
            border-radius: 50px;
            border: transparent;
            padding: 8px 16px;
            font-size: 18px;
            color: white;
            background-color: black;
            z-index: 2;
        }
    }


    &__date {
        display: flex;
        justify-content: flex-start;
        width: 70%;

        h4 {
            font-size: 28px;
            background-color: black;
            padding: 5px 16px;
        }
    }


    .grid {
        margin-bottom: 90px;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
        width: 80%;

        @media (min-width: 600px) and (max-width:900px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: 200px) and (max-width:600px) {
            grid-template-columns: repeat(1, 1fr);
        }


        &__textCard {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;

            h4 {
                justify-content: center;
                display: flex;
                height: 70%;
                align-items: center;
                font-size: 28px;
            }

            &--link {
                display: flex;
                align-items: center;
                justify-content: space-between;

                &1 {
                    text-decoration: none;
                    color: white;
                    background-color: black;
                    padding: 5px 8px;
                    font-size: 18px;
                }

                &2 {
                    margin-right: 5px;
                }
            }
        }

        &__incomingArtiste {
            background-color: rgba(0, 0, 0, 0.685);
            display: flex;
            justify-content: center;
            align-items: center;

            h4 {
                font-size: 28px;
            }
        }

        img {
            width: 50px;
        }
    }
}

.progScenesContainer {
    width: 60%;
    margin-top: 50px;

    &__days {
        display: flex;
        justify-content: space-between;

        .daySelected {
            background-color: #D9D9D9;
            border-bottom: 1px solid white;
        }

        button {
            width: 50%;
            font-size: 20px;
            background-color: black;
            color: white;
            padding: 8px;
            border: transparent;
            font-family: Oswald;
            font-weight: 600;
            cursor: pointer;
        }
    }

    &__artistes {
        background-color: #D9D9D9;

        &--scenes {
            display: flex;
            justify-content: space-around;
            font-size: 20px;
        }
    }
}

/* Animation */
.slide-in-fwd-center {
    -webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-fwd-center {
    0% {
        -webkit-transform: translateZ(-1400px);
        transform: translateZ(-1400px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes slide-in-fwd-center {
    0% {
        -webkit-transform: translateZ(-1400px);
        transform: translateZ(-1400px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}