@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@font-face {
    font-family: 'black_ravensregular';
    src: url('/font/webfontkit-20230109-032420/black-ravens-webfont.woff2') format('woff2'),
        url('/font/webfontkit-20230109-032420/black-ravens-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Acme-Regular-webfont';
    src: url('/font/Acme-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');


:root {
    font-family: Oswald;

}

.sparticles {
    width: 100%;
    position: absolute;
    height: 100dvh;
    top: 0;
    z-index: -1;
}

h2 {
    font-size: 135px;
    font-weight: 500;
    line-height: 90px;
    font-family: 'black_ravensregular';
}

/* Button styles */

.glow-on-hover {
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    background: #ffffff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 50px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 50px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    left: 0;
    top: 0;
    border-radius: 50px;
    border: solid 2px black;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}


@media only screen and (max-width: 1024px) and (orientation: landscape) {

    .sectionContainer {
        scroll-snap-type: none;
        overflow-y: none;
        height: auto;
        scroll-behavior: none;
    }

    section {
        height: auto;
        scroll-snap-align: none;
    }

    .accueil {
        padding: 50px 0;
    }

    #infos {
        padding-bottom: 50px;
    }

    #actus {
        height: auto;
        padding: 50px 0;

        .actus {
            height: auto;
        }
    }

    .infosContainer {

        max-height: none;
    }

    .partenaires {
        padding: 50px 0;
    }
}

.cookieButton {
    background-color: green !important;
    color: white !important;
}

#declineButton {
    background-color: red;
    color: white !important;
}