#actus {
    flex-direction: column;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(191, 32, 10, .8), rgba(75, 0, 101, .85));
    // background-size: 400% 400%;
    // animation: gradient 15s ease infinite;
    height: 100vh;

    h2 {
        display: flex;
        justify-content: flex-start;
        width: 80%;
        margin-bottom: -54px;
        z-index: 20;

        @media screen and (max-width: 1038px) {
            font-size: 80px;

        }

        @media screen and (max-width: 800px) {
            font-size: 75px;
        }

        @media screen and (max-width: 400px) {
            margin-top: 0;
        }
    }
}

.actus {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    width: 100%;

    &Title {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.actusContainer {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;

    &__maya {
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 0.5;
        height: 110%;
    }

    &__creeper {
        position: absolute;
        top: 38px;
        left: -180px;
        opacity: 1;
        height: 110%;
        transform: rotate(311deg);
        animation: creeper 10s infinite;
        z-index: 20;
    }

    @keyframes creeper {
        0% {
            transform: rotate(311deg) scale(1, 1);
        }

        40% {
            transform: rotate(311deg) scale(1.1, 1);
        }

        100% {
            transform: rotate(311deg) scale(1, 1);
        }

    }

    .alice-carousel {
        z-index: 10;

        &__wrapper {
            padding-left: 126px !important;

            @media screen and (max-width: 800px) {
                padding-left: 50px !important;
            }
        }
    }

}

.mycard {
    // min-width: 350px;
    // max-width: 350px;

    height: 330px;
    background-color: rgba(0, 0, 0, 0.459);
    margin: 10px;
    color: white;
    position: relative;
    // -webkit-box-shadow: -10px 10px 0px 5px #cecece;
    // box-shadow: -10px 10px 0px 5px #cecece;

    img {
        width: 100%;
    }

    &__text {

        // position: absolute;
        // bottom: 8px;
        // left: 16px;
        h3 {
            bottom: 8px;
            position: absolute;
            top: 16px;
            left: 16px;
            font-size: 32px;
        }

        a {
            span {
                padding: 2px 10px;

            }

            color: white;
            bottom: 8px;

            position: absolute;

            right: 16px;
            background: black;
            text-decoration: none;
            padding: 8px;
            font-weight: bold;
        }
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.eRAaLU::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.eRAaLU {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;

    /* Firefox */
    .buttons {
        justify-content: space-around !important;
        top: 100% !important;
        width: 70px;

        img {
            width: 70px;
            border-radius: 50px;
        }

    }

    .prev .next {
        font-size: 40px;
        background-color: rgb(0, 0, 0);
        //box-shadow: 0px 0px 10px 1px rgb(113, 113, 113);
        border-radius: 50px;
        color: rgb(255, 255, 255);
        width: 50px;
        height: 50px;
        cursor: pointer;

    }

    .next img {
        transform: rotate(90deg);
    }

    .prev img {
        transform: rotate(-90deg);
    }
}