#infos {
    background: linear-gradient(180deg, rgba(75, 0, 101, .85), rgba(1, 0, 46, .95));
    display: flex;
    flex-direction: column;



    h2 {

        display: flex;
        justify-content: flex-start;
        width: 80%;
        margin-bottom: -25px;
        line-height: 0.90;
        margin-bottom: -70px;

        @media screen and (max-width: 644px) {
            margin-bottom: 0px;
            font-size: 75px !important;
            margin-top: 95px;
        }

        @media screen and (max-width: 1115px) {

            margin-bottom: -49px;
            font-size: 80px;
        }

        @media screen and (max-width: 400px) {
            font-size: 60px !important;
            margin-bottom: -31px;
            margin-top: 85px;
            line-height: 0.75;
        }

    }
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    height: 98%;

    &__creeper {
        position: absolute;
        width: 403px;
        height: 346px;
        z-index: 10;
        top: -20px;
        left: 0;
        transform: rotate(290deg);
        animation: creeper 10s infinite;
    }



    @keyframes creeper {
        0% {
            transform: rotate(311deg) scale(1, 1);
        }

        40% {
            transform: rotate(311deg) scale(1.06, 1);
        }

        100% {
            transform: rotate(311deg) scale(1, 1);
        }

    }

}

.infosContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
    flex-direction: row;
    width: 75%;
    padding: 22px 25px 25px 25px;
    gap: 15px;
    flex-wrap: nowrap;
    max-height: 70vh;
    position: relative;

    .linkContainer {
        display: flex;
        justify-content: end;
        z-index: 11;
        position: absolute;
        padding: 10px;
        right: 0;
        bottom: -34px;

        &__linkButton {
            padding: 8px 16px;
            display: flex;
            background-color: black;
            color: white;
            align-items: center;
            gap: 16px;
            text-decoration: none;
            border-radius: 50px;
            font-size: 20px;

            span {
                margin: 0;
            }
        }

    }

    @media screen and (max-width: 1475px) {
        flex-direction: column;
        padding-top: 50px;

    }

    @media screen and (max-width: 1115px) {
        flex-direction: column;
        padding-top: 50px;
    }

    @media screen and (max-width: 375px) {
        flex-direction: column;
        height: 65%;
        padding-top: 40px;
    }

    &__video {
        display: flex;
        min-width: 70%;
        max-height: 100%;
        margin-top: 20px;

        @media screen and (895px <=width <=1475px) {
            height: 330px;
        }

        @media screen and (max-width: 644px) {
            margin-top: 0px;
        }

        img {
            width: 100%;
            aspect-ratio: 16/9;
            object-fit: contain;
            height: 100%;

        }

        iframe {

            aspect-ratio: 16/9 !important;
            width: 100%;
        }

    }

    &__text {
        text-align: justify;
        text-align: justify;
        display: flex;
        flex-direction: column;
        margin: auto;
        align-content: center;
        height: 100%;
        max-height: 500px;


        @media screen and (max-width: 644px) {
            margin-top: -10px;
        }

        h3 {
            text-align: end;
            font-size: 36px;
            color: white;
            margin-top: 0;
            margin-bottom: 16px;

            @media screen and (max-width: 644px) {
                margin: 0;
                font-size: 36px;
            }

            @media screen and (max-width: 1115px) {
                margin: 0;
                font-size: 28px;
            }

            &::after {
                content: "";
                display: flex;
                height: 2px;
                background: white;
                margin-top: 5px;

                @media screen and (max-width: 644px) {
                    margin-top: 5px;
                }
            }

        }



        p {
            margin: auto;
            font-size: 21px;
            line-height: 1.5;
            font-weight: 100;

            @media screen and (max-width: 644px) {
                font-size: 16px;
            }

            @media screen and (max-width: 400px) {
                font-size: 14px;
            }
        }



    }

    &__link {
        width: 100%;
        display: flex;
        justify-content: end;

    }
}