#infos {
    background: linear-gradient(180deg, rgba(75, 0, 101, .85), rgba(1, 0, 46, .95));
    display: flex;
    flex-direction: column;



    h2 {

        display: flex;
        justify-content: flex-start;
        width: 80%;
        margin-bottom: -25px;
        line-height: 0.90;
        margin-bottom: -70px;

        @media (max-width: 644px) {
            margin-bottom: 0px;
            font-size: 75px !important;
            margin-top: 95px;
        }

        @media (max-width: 1115px) {

            margin-bottom: -85px;
            font-size: 80px;
        }

    }
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    height: 98%;
}

.infosContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
    flex-direction: row;
    width: 75%;
    padding: 75px 25px 25px 25px;
    gap: 15px;
    flex-wrap: nowrap;

    .linkContainer {
        display: flex;
        justify-content: end;
        z-index: 11;
        position: relative;
        padding: 10px;

        &__linkButton {
            padding: 8px 16px;
            display: flex;
            background-color: black;
            color: white;
            align-items: center;
            gap: 16px;
            text-decoration: none;
            border-radius: 50px;
            font-size: 20px;

            span {
                margin: 0;
            }
        }

    }

    @media (max-width: 1115px) {
        flex-direction: column;
        height: 60%;
    }

    @media (max-width: 375px) {
        flex-direction: column;
        height: 55%;
    }

    &__video {
        display: flex;
        min-width: 70%;
        max-height: 100%;
        margin-top: 20px;

        @media (895px <=width <=1115px) {
            height: 330px;
        }

        @media (max-width: 644px) {
            margin-top: 0px;
        }

        img {
            width: 100%;
            aspect-ratio: 16/9;
            object-fit: contain;

        }

        iframe {

            aspect-ratio: 16/9 !important;
            width: 100%;
        }

    }

    &__text {
        text-align: justify;
        text-align: justify;
        display: flex;
        flex-direction: column;
        margin: auto;
        align-content: center;
        height: 100%;
        max-height: 500px;
        margin-right: 16px;
        margin-left: 16px;

        @media (max-width: 644px) {
            margin-top: -10px;
        }

        h3 {
            text-align: end;
            font-size: 48px;
            color: white;
            margin-top: 0;
            margin-bottom: 16px;

            @media (max-width: 644px) {
                margin: 0;
                font-size: 36px;
            }

            @media (max-width: 1115px) {
                margin: 0;
                font-size: 40px;
            }

            &::after {
                content: "";
                display: flex;
                height: 2px;
                background: white;
                margin-top: 25px;

                @media (max-width: 644px) {
                    margin-top: 5px;
                }
            }

        }



        p {
            text-overflow: ellipsis;
            overflow: hidden;
            margin: auto;
            font-size: 21px;
            line-height: 1.5;
            font-weight: 100;
        }



    }

    &__link {
        width: 100%;
        display: flex;
        justify-content: end;

    }
}