#accueil {
    //background: linear-gradient(180deg, rgba(167, 235, 255, .95), rgba(135, 221, 247, .8), rgba(108, 197, 253, .8), rgba(255, 166, 103, .8));

    z-index: -1;

    background-image:
        // url("/img/clouds_2d.webp"),


        linear-gradient(180deg, rgba(167, 235, 255, .95), rgba(135, 221, 247, .8), rgba(108, 197, 253, .8), rgba(255, 166, 103, .8));
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto 100%;
    /*adjust s value for speed*/


    @media (min-height: 450px) and (max-width: 1024px) and (orientation: landscape) {
        height: 90dvh !important;
    }

    // background-size: 400% 400%;
    //animation: gradient 15s ease infinite;
    .accueil {
        display: flex;
        width: 100%;
        height: 100vh;
        position: relative;
        justify-content: flex-end;
        align-items: center;

        &__creeper {
            position: absolute;
            width: 403px;
            height: 346px;
            z-index: 10;
            top: -70px;
            left: -65px;
            transform: rotate(290deg);
            animation: creeper 10s infinite;

            @media (max-width: 430px) {
                width: 300px;
                height: 240px;
            }
        }

        &__dragon {
            position: absolute;
            width: 444px;
            height: 422px;
            z-index: 10;
            top: 30%;
            right: -26px;
            transform: rotate(90deg);
            //animation: creeper 10s infinite;

            @media (max-width: 430px) {
                width: 300px;
                height: 285px;
                top: 45%;
            }

            @media (max-height: 450px) and (max-width: 1024px) and (orientation: landscape) {
                width: 300px;
                height: 285px;
                top: 45%;
            }
        }

        @keyframes creeper {
            0% {
                transform: rotate(311deg) scale(1, 1);
            }

            40% {
                transform: rotate(311deg) scale(1.06, 1);
            }

            100% {
                transform: rotate(311deg) scale(1, 1);
            }

        }

        &__creeper2 {
            position: absolute;
            width: 403px;
            height: 346px;
            z-index: 10;
            top: -101px;
            right: -72px;
            transform: rotate(26deg);
            animation: creeper2 10s infinite;

            @media (max-width: 430px) {
                width: 300px;
                height: 240px;
            }
        }

        @keyframes creeper2 {
            0% {
                transform: rotate(26deg) scale(1, 1);
            }

            40% {
                transform: rotate(26deg) scale(1.06, 1);
            }

            100% {
                transform: rotate(26deg) scale(1, 1);
            }

        }




        &__clouds {
            height: 100vh;
            position: absolute;
            width: 100%;
            z-index: 1;
            //background: url("/img/nuages.webp") repeat-x;
            background-image:
                url("/img/nuages.png");

            background-repeat: repeat-x;
            background-position: 0 0;
            background-size: auto 100%;
            animation: animatedBackground 300s infinite;
            -webkit-animation: animatedBackground 300s infinite;
            -moz-animation: animatedBackground 300s infinite;

            @keyframes animatedBackground {
                from {
                    background-position: 0 0;
                }

                /*use negative width if you want it to flow right to left else and positive for left to right*/
                to {
                    background-position: 10000px 0;
                }

                // 0% {
                //     transform: translateX(0%);
                // }

                // 100% {
                //     transform: translateX(100%);
                // }
            }


            @-webkit-keyframes animatedBackground {
                from {
                    background-position: 0 0;
                }

                to {
                    background-position: 10000px 0;
                }
            }
        }


        // &__clouds:before,
        // &__clouds:after {
        //     content: "";
        //     position: absolute;
        //     width: 100%;
        //     height: 100%;
        //     background-image: url("/img/nuages.webp");
        //     background-size: 100%;
        //     animation: animatedBackground2 30s infinite linear;
        // }

        // &__clouds:before {
        //     right: 100%;
        // }

        // @keyframes animatedBackground2 {
        //     // from {
        //     //     background-position: 0 0;
        //     // }

        //     // /*use negative width if you want it to flow right to left else and positive for left to right*/
        //     // to {
        //     //     background-position: 10000px 0;
        //     // }
        //     0% {
        //         transform: translateX(0%);
        //     }

        //     100% {
        //         transform: translateX(100%);
        //     }
        // }

        // &__clouds2 {
        //     height: 100vh;
        //     position: absolute;
        //     width: 100%;
        //     z-index: 1;
        //     background-image:
        //         url("/img/nuages.webp");

        //     background-repeat: repeat-x;
        //     background-position: 0 0;
        //     background-size: auto 100%;
        //     //background-size: contain;
        //     animation: animatedBackground2 30s linear infinite;
        //     -webkit-animation: animatedBackground2 30s linear infinite;
        //     -moz-animation: animatedBackground2 30s linear infinite;

        //     @keyframes animatedBackground2 {
        //         // from {
        //         //     background-position: 0 0;
        //         // }

        //         // /*use negative width if you want it to flow right to left else and positive for left to right*/
        //         // to {
        //         //     background-position: 10000px 0;
        //         // }
        //         0% {
        //             transform: translateX(-100%);
        //         }

        //         100% {
        //             transform: translateX(0%);
        //         }
        //     }

        //     @-webkit-keyframes animatedBackground {
        //         0% {
        //             transform: translateX(-100%);
        //         }

        //         100% {
        //             transform: translateX(0%);
        //         }
        //     }
        // }



        &__text {
            display: flex;
            flex-direction: column;
            width: 60%;
            z-index: 10;

            @media (max-width: 1038px) {
                width: 100%;
                display: flex;
                align-items: center;
                margin: 0 20px;
                height: 50%;
                justify-content: center;
            }

            h1 {
                font-size: 130px;
                font-weight: 400;
                margin: 0;
                margin-bottom: -25px;
                color: white;
                font-family: 'black_ravensregular';
                //mix-blend-mode: difference;
                line-height: 1;
                text-shadow: 1px 1px 2px black;

                @media (max-width: 644px) {
                    font-size: 75px;
                }

                @media (min-width: 644px) and (max-width: 1115px) {
                    font-size: 100px;
                }

                @media (min-width: 1430px) {
                    font-size: 150px;
                }
            }

            h2,
            h3 {
                font-size: 90px;
                font-weight: 300;
                margin: 0;
                //mix-blend-mode: difference;
                font-family: 'black_ravensregular';
                line-height: 1;
                text-shadow: 1px 1px 2px black;

                @media (max-width: 644px) {
                    font-size: 40px;
                }

                @media (max-width: 1430px) {
                    font-size: 55px;
                }


            }

            &--date {
                margin-top: -35px;
                margin-bottom: 0px;

                @media (max-width: 900px) {
                    margin-top: -15px;

                }


                h2,
                h3 {
                    width: fit-content;
                    height: 60px;
                    padding: 10px 20px;
                    margin-top: 15px;
                    margin-bottom: 0px;
                    text-shadow: none;
                    border-radius: 5px;
                    //font-size: 60px;

                    font-family: Acme-Regular-webfont;
                    font-size: 35px;



                    @media (max-width: 380px) {
                        font-size: 30px;

                    }
                }



            }

            /* create wrapper */
            .brush-wrap {
                position: relative;
                display: inline-block;
            }

            /* clipping/animating object (pseudo element) */
            .brush-wrap:before {
                content: '';
                position: absolute;
                height: 70%;
                width: 375px;
                top: 0;
                left: -45px;
                background: black;
                z-index: -1;
                clip-path: url(#clip);

                @media (max-width: 890px) {
                    height: 70px;
                    width: 375px;
                }
            }

            .brush-wrap h2,
            h3 {
                filter: drop-shadow(0px 0px 2px black);
            }

            &--edition {


                @media (max-width: 457px) {
                    text-align: center;
                }

                h3 {
                    background: linear-gradient(45deg, rgba(255, 0, 0, .5), rgba(255, 115, 0, .5), rgba(255, 251, 0, .5), rgba(72, 255, 0, .5), rgba(0, 255, 213, .5), rgba(0, 43, 255, .5), rgba(122, 0, 255, .5), rgba(255, 0, 200, .5), rgba(255, 0, 0, .5));
                    -webkit-background-clip: text;
                    -webkit-text-stroke: 12px transparent;
                    color: rgb(255, 255, 255);

                    transition: opacity .3s ease-in-out;
                    background-size: 400%;
                    padding-left: 10px;
                    padding-top: 25px;
                    animation: identifier 18s infinite;
                    -webkit-animation: identifier 18s infinite;
                    padding-right: 10px;

                    .slide-in-bck-center {
                        -webkit-animation: slide-in-bck-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                        animation: slide-in-bck-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                    }





                    @keyframes identifier {

                        0% {
                            background-position: 0 0;
                            -webkit-background-position: 0 0;
                        }

                        50% {
                            background-position: 400% 0;
                            -webkit-background-position: 400% 0;
                        }

                        100% {
                            background-position: 0 0;
                            -webkit-background-position: 0 0;
                        }
                    }

                    @-webkit-keyframes identifier {
                        from {
                            background-position: 0 0;
                        }

                        to {
                            background-position: 10000px 0;
                        }
                    }


                    // &:before {
                    //     content: '';
                    //     background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
                    //     position: absolute;
                    //     top: -2px;
                    //     left: -2px;
                    //     background-size: 400%;
                    //     z-index: -1;
                    //     filter: blur(5px);
                    //     width: calc(100% + 4px);
                    //     height: calc(100% + 4px);
                    //     animation: glowing 20s linear infinite;
                    //     opacity: 1;
                    //     transition: opacity .3s ease-in-out;
                    //     border-radius: 50px;
                    // }
                }

            }

            // @keyframes flicker {

            //     0%,
            //     18%,
            //     22%,
            //     25%,
            //     53%,
            //     57%,
            //     100% {

            //         text-shadow:
            //             0 0 4px #fff,
            //             0 0 11px #fff,
            //             0 0 19px #fff,
            //             0 0 40px #ff0000,
            //             0 0 80px #ff7300,
            //             0 0 90px #fffb00,
            //             0 0 100px #48ff00,
            //             0 0 150px #00ffd5;


            //     }

            //     20%,
            //     24%,
            //     55% {
            //         text-shadow: none;
            //     }
            // }

        }

    }

    h2,
    h3 {
        @media (max-width: 1038px) {
            font-size: 80px;
        }

        @media (max-width: 800px) {
            font-size: 60px;
        }
    }

    .linkContainer {
        display: flex;
        position: relative;
        margin-top: 32px;
        justify-content: start;

        &__linkButton {
            padding: 8px 16px;
            display: flex;
            //background-color: black;
            color: white;
            align-items: center;
            gap: 16px;
            text-decoration: none;
            border-radius: 50px;
            font-size: 18px;

            a {
                cursor: pointer;

            }

            img {
                margin-top: 2px;
            }

            span {
                margin: 0;
                mix-blend-mode: difference;
                font-size: 22px;
            }
        }

    }
}

// @keyframes gradient {
//     0% {
//         background-position: 0% 50%;
//     }

//     50% {
//         background-position: 100% 50%;
//     }

//     100% {
//         background-position: 0% 50%;
//     }
// }


/* Animation */
@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

.slide-in-bck-center {
    -webkit-animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-bck-center {
    0% {
        -webkit-transform: translateZ(600px);
        transform: translateZ(600px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes slide-in-bck-center {
    0% {
        -webkit-transform: translateZ(600px);
        transform: translateZ(600px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

.fade-in {
    -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}