#accueil {
    background: linear-gradient(180deg, rgba(167, 235, 255, .95), rgba(135, 221, 247, .8), rgba(108, 197, 253, .8), rgba(255, 166, 103, .8));
    // background-size: 400% 400%;
    //animation: gradient 15s ease infinite;

    h2 {
        @media (max-width: 1038px) {
            font-size: 80px;
        }

        @media (max-width: 800px) {
            font-size: 60px;
        }
    }
}

// @keyframes gradient {
//     0% {
//         background-position: 0% 50%;
//     }

//     50% {
//         background-position: 100% 50%;
//     }

//     100% {
//         background-position: 0% 50%;
//     }
// }