#partenaires {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(46, 22, 35, .95), rgba(0, 0, 0, 1));
    position: relative;
    overflow: hidden;
}

//rgba(1, 0, 46, .95) rgba(0, 0, 0, 1)
.partenaires {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90dvh;

    @media (orientation:landscape) and (max-width: 800px) {
        height: auto;
    }

    @media (max-width: 400px) {
        margin-top: 100px;
    }

    @media (min-width: 550px) and (max-width:1150px) {
        width: 85%;
    }

    .partenairesText {
        display: flex;
        flex-direction: column;

        justify-content: center;
        margin-bottom: -39px;
        width: 80%;

        @media (max-width: 600px) {
            margin-left: 10px
        }

        @media (max-width: 400px) {
            width: 100%;
        }

        h2 {
            margin: 0;

            @media (max-width: 800px) {
                font-size: 75px;
                line-height: 1;
            }

            @media (max-width: 400px) {
                font-size: 55px;
                line-height: 0.75;
            }

            @media (min-width: 800px) and (max-width: 1115px) {
                font-size: 80px;
            }
        }

        h3 {
            font-weight: 400;
            font-size: 26px;
            justify-content: flex-end;
            width: 100%;
            display: flex;
            margin-top: 0;

            @media (max-width: 1038px) {
                justify-content: center;
            }

        }


    }

    &Container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;


        &__card {
            display: flex;
            flex-direction: column;
            align-items: center;

            @media (max-width: 1038px) {
                width: 28%;

            }

            &--text {}

            img {
                width: 250px;
            }
        }

        &__maya {
            position: absolute;
            right: 150px;
            top: -273px;
            height: 641px;
            opacity: 0.5;

            @media (max-width: 1300px) {
                right: 0;

            }


            @media (max-width: 760px) {

                right: -211px;
            }
        }
    }


    .linkContainer {
        display: flex;
        position: relative;
        margin-top: 16px;
        justify-content: center;

        .glow-on-hover:after {
            border: transparent;
        }

        &__linkButton {
            padding: 8px 16px;
            display: flex;
            background-color: black;
            color: white;
            align-items: center;
            gap: 16px;
            text-decoration: none;
            border-radius: 50px;
            font-size: 18px;
            font-family: Oswald;

            a {
                cursor: pointer;

            }

            span {
                font-size: 22px;
                margin-top: -2px;
                color: black;

                @media (max-width: 400px) {
                    font-size: 18px;
                }
            }

            img {
                @media (max-width: 400px) {
                    width: 25px;
                }
            }
        }

    }
}

/* Contact Form */

#contact-form {
    max-width: 800px;
    animation: text-focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    width: 70%;
    z-index: 2;
    padding-bottom: 10px;

    @media (max-width: 400px) {
        font-size: 16px;
        margin-top: 10px;
    }
}

.formInput {
    width: 100%;
    min-height: 32px;
    margin-top: 15px;
    background-color: transparent;
    color: white;
    border: white solid 1px;
    box-shadow: -1px 1px 4px 0px rgba(255, 255, 255, 0.35) inset;
    -webkit-box-shadow: -1px 1px 4px 0px rgba(255, 255, 255, 0.35) inset;
    -moz-box-shadow: -1px 1px 4px 0px rgba(255, 255, 255, 0.35) inset;
    border-radius: 5px;
    padding-left: 15px;
}

.formInput::placeholder {
    color: white;
    margin-left: 50px;

    //padding-top: 10px;
    font-size: 15px;
    font-family: Oswald;
    font-weight: 200;
    font-size: 18px;


}

#contact-form textarea {
    width: 100%;
    min-height: 100px;
    margin-top: 20px;
    padding-top: 8px;
    min-height: 50px;

    &::placeholder {
        font-family: Oswald;
        padding-top: -4px;
    }
}

// #contact-form button {
//     width: 100%;
//     min-height: 40px;
//     margin-top: 20px;
//     background-color: #363636;
//     color: white;
//     font-size: 22px;
//     border-radius: 10px;
//     cursor: pointer;
//     border: transparent;
//     box-shadow: -1px 1px 4px 0px rgba(255, 255, 255, 0.35) inset;
//     -webkit-box-shadow: -1px 1px 4px 0px rgba(255, 255, 255, 0.35) inset;
//     -moz-box-shadow: -1px 1px 4px 0px rgba(255, 255, 255, 0.35) inset;
//     -webkit-box-sizing: border-box;
//     box-sizing: border-box;
//     -webkit-transition: all 0.35s ease;
//     transition: all 0.35s ease;
// }

.successMessage {
    font-size: 20px;
    margin-top: 15px;
    color: #ffffff;
}

// #contact-form button:hover {
//     background-color: #CCA43B;
//     box-shadow: -1px 1px 4px 0px rgba(136, 136, 136, 0.35) inset;
//     -webkit-box-shadow: -1px 1px 4px 0px rgba(255, 255, 255, 0.35) inset;
//     -moz-box-shadow: -1px 1px 4px 0px rgba(126, 126, 126, 0.35) inset;
// }

.contactInfo {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 45%;
    animation: text-focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.contactInfo a,
.competencesContainer a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    margin-top: 20px;
    transition: all 0.35s ease;
}

.contactInfo a:hover,
.competencesContainer a:hover {
    color: #CCA43B;
}

.contactInfo p {
    display: flex;
    margin-top: 15px;
}

.contactInfo span {
    color: white;
    font-size: calc(10px + 2vmin);
    margin-top: 20px;
    margin-left: 20px;
    text-align: left;
}

.contactFormContainer {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
    margin: auto;
    margin-top: 50px;
}

.contactForm {
    width: 55%;
}

.textContact {
    margin: auto;
    margin-top: 20px;
}