#programmation {

    background: linear-gradient(180deg, rgba(255, 166, 103, .8), rgba(191, 32, 10, .8));
}

.programmation {
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    @media (max-width: 800px) {
        margin-top: 70px;
        height: 88%
    }

    h2 {
        margin: 0;
        margin-bottom: 0px;
        margin-bottom: -35px;
        z-index: 3;
        position: relative;

        @media (max-width: 1038px) {
            font-size: 80px;

        }

        @media (max-width: 800px) {
            font-size: 75px;
            line-height: 58px;
        }

    }

    .linkContainer {
        display: flex;
        justify-content: end;
        margin-top: -16px;
        z-index: 11;
        position: relative;

        @media (max-width: 800px) {
            justify-content: center;
            margin-top: 8px;
        }

        &__linkButton {
            padding: 8px 16px;
            display: flex;
            background-color: black;
            color: white;
            align-items: center;
            gap: 16px;
            text-decoration: none;
            border-radius: 50px;
            font-size: 18px;

            span {
                margin: 0;
            }
        }

    }
}

.programmationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 16px;
    position: relative;

    &__dragon {
        position: absolute;
        opacity: 0.5;
        bottom: 0;
        right: 0;
        height: 657px;
    }

    @media (max-width: 1038px) {
        flex-direction: column;
    }

    @media (max-width: 800px) {
        height: 80%;
    }

    &__incContainer {
        opacity: 0.5;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        h3 {
            font-size: 50px;
            padding: 20px;
            margin: 0;
            background: linear-gradient(300deg, #000000, #303030, #404040);
            background-size: 180% 180%;
            animation: gradient-animation 18s ease infinite;

            @media (max-width: 1038px) {
                font-size: 45px;

            }

            @media (max-width: 800px) {
                font-size: 40px;
                line-height: 58px;
            }

            @media (max-width: 400px) {
                font-size: 35px;
                padding: 20px 5px;
            }
        }

        @keyframes gradient-animation {
            0% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0% 50%;
            }
        }
    }

    &__container1 {
        width: 40%;
        height: 100%;
        align-items: end;
        display: flex;
        flex-direction: column;

        @media (max-width: 1038px) {
            justify-content: end;
            align-items: center;
            gap: 16px;
            width: 100%;
        }
    }

    &__container2 {
        width: 40%;
        height: 100%;
        align-items: start;
        display: flex;
        flex-direction: column;

        @media (max-width: 1038px) {
            justify-content: start;
            align-items: center;
            gap: 16px;
            width: 100%;
        }
    }

    .item1 {}

    .item2 {

        margin-top: 20px;
        margin-right: -30px;

        @media (max-width: 1038px) {
            margin: 0;
        }
    }

    .item3 {}

    .item4 {
        margin-left: 30px;
        margin-top: 20px;

        @media (max-width: 1038px) {
            margin: 0;
        }
    }


    &__card {
        position: relative;

        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;

        &--text {
            bottom: 20px;
            position: absolute;
            left: 16px;
            font-size: 32px;

            @media (max-width: 800px) {
                bottom: 0px;
                line-height: 28px;
            }

            h3 {
                margin: 0;

                @media (max-width: 800px) {
                    font-size: 26px;
                }


            }

            p {
                margin-top: 8px;
                margin-bottom: 0;
                padding: 5px;
                background-color: #ff00d7;
                font-weight: bold;
                font-size: 25px;

                @media (max-width: 800px) {
                    font-size: 22px;
                }

            }
        }
    }
}